USE [master]
GO
/****** Object:  Database [MedicalLab]    Script Date: 25.12.2025 21:37:11 ******/
CREATE DATABASE [MedicalLab]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MedicalLab', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalLab.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MedicalLab_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\MedicalLab_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MedicalLab].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MedicalLab]
GO
/****** Object:  Table [dbo].[analyzer_logs]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analyzer_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[analyzer_id] [int] NOT NULL,
	[order_service_id] [int] NOT NULL,
	[started_at] [datetime] NOT NULL,
	[completed_at] [datetime] NULL,
	[duration_seconds] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[analyzers]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[analyzers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[analyzer_code] [varchar](50) NOT NULL,
	[analyzer_name] [varchar](100) NOT NULL,
	[model] [varchar](50) NULL,
	[location] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[analyzer_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[archive_log]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archive_log](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[table_name] [varchar](50) NOT NULL,
	[record_id] [int] NOT NULL,
	[archived_by] [int] NULL,
	[archive_reason] [varchar](255) NULL,
	[original_data] [text] NULL,
	[archived_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blood]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[patient] [int] NULL,
	[barcode] [varchar](50) NULL,
	[date] [datetime] NULL,
 CONSTRAINT [PK__blood__3213E83FEA6A2D8B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bloodservice]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bloodservice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[blood_id] [int] NULL,
	[service_code] [varchar](20) NULL,
	[result] [text] NULL,
	[finished] [bit] NULL,
	[accepted] [bit] NULL,
	[status] [varchar](30) NULL,
	[analyzer] [varchar](50) NULL,
	[user_id] [int] NULL,
 CONSTRAINT [PK__bloodser__3213E83F94AD8F84] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_roles]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee_services]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee_services](
	[employee_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[is_primary] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC,
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[login] [varchar](50) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[role_id] [int] NOT NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
	[department] [varchar](50) NULL,
	[last_login] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[insurance_companies]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[insurance_companies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company_name] [varchar](100) NOT NULL,
	[address] [varchar](255) NULL,
	[inn] [varchar](20) NOT NULL,
	[checking_account] [varchar](30) NULL,
	[bik] [varchar](20) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_orders]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_orders](
	[invoice_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[invoice_id] ASC,
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoices]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoices](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_number] [varchar](50) NOT NULL,
	[insurance_company_id] [int] NOT NULL,
	[invoice_date] [date] NOT NULL,
	[total_amount] [decimal](10, 2) NOT NULL,
	[due_date] [date] NULL,
	[is_paid] [bit] NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[invoice_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_services]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[assigned_to] [int] NULL,
	[performed_by] [int] NULL,
	[analyzer_id] [int] NULL,
	[result] [text] NULL,
	[actual_price] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_statuses]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](50) NOT NULL,
	[patient_id] [int] NOT NULL,
	[order_date] [datetime] NOT NULL,
	[status_id] [int] NOT NULL,
	[total_amount] [decimal](10, 2) NULL,
	[execution_days] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[patients]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[patients](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NULL,
	[login] [varchar](50) NULL,
	[pwd] [varchar](255) NULL,
	[guid] [uniqueidentifier] NULL,
	[email] [varchar](100) NULL,
	[social_sec_number] [varchar](50) NULL,
	[ein] [varchar](20) NULL,
	[social_type] [varchar](50) NULL,
	[phone] [varchar](20) NULL,
	[passport_s] [varchar](10) NULL,
	[passport_n] [varchar](20) NULL,
	[birthdate_timestamp] [datetime] NULL,
	[country] [varchar](50) NULL,
	[insurance_name] [varchar](100) NULL,
	[insurance_address] [varchar](255) NULL,
	[insurance_inn] [varchar](20) NULL,
	[ipadress] [varchar](45) NULL,
	[insurance_p_c] [varchar](20) NULL,
	[insurance_bik] [varchar](20) NULL,
	[ua] [varchar](255) NULL,
 CONSTRAINT [PK__patients__3213E83FF111CA5B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_statuses]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[status_name] [varchar](50) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[status_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[services]    Script Date: 25.12.2025 21:37:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[services](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[service_code] [varchar](20) NULL,
	[service_name] [varchar](100) NULL,
	[price] [decimal](10, 2) NULL,
	[execution_days] [int] NULL,
	[average_deviation] [decimal](5, 2) NULL,
 CONSTRAINT [PK__services__3213E83F64A2A907] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__services__5C67610B756192B7] UNIQUE NONCLUSTERED 
(
	[service_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_blood_barcode]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_blood_barcode] ON [dbo].[blood]
(
	[barcode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_blood_patient]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_blood_patient] ON [dbo].[blood]
(
	[patient] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_bloodservice_blood]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_bloodservice_blood] ON [dbo].[bloodservice]
(
	[blood_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_bloodservice_status]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_bloodservice_status] ON [dbo].[bloodservice]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_employees_login]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_employees_login] ON [dbo].[employees]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_invoices_company]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_invoices_company] ON [dbo].[invoices]
(
	[insurance_company_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_invoices_number]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_invoices_number] ON [dbo].[invoices]
(
	[invoice_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_orders_number]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_orders_number] ON [dbo].[orders]
(
	[order_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_patient]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_orders_patient] ON [dbo].[orders]
(
	[patient_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_orders_status]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_orders_status] ON [dbo].[orders]
(
	[status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_patients_login]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_patients_login] ON [dbo].[patients]
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_patients_phone]    Script Date: 25.12.2025 21:37:11 ******/
CREATE NONCLUSTERED INDEX [idx_patients_phone] ON [dbo].[patients]
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[archive_log] ADD  DEFAULT (getdate()) FOR [archived_at]
GO
ALTER TABLE [dbo].[blood] ADD  CONSTRAINT [DF__blood__date__5EBF139D]  DEFAULT (getdate()) FOR [date]
GO
ALTER TABLE [dbo].[bloodservice] ADD  CONSTRAINT [DF__bloodserv__finis__628FA481]  DEFAULT ((0)) FOR [finished]
GO
ALTER TABLE [dbo].[bloodservice] ADD  CONSTRAINT [DF__bloodserv__accep__6383C8BA]  DEFAULT ((0)) FOR [accepted]
GO
ALTER TABLE [dbo].[bloodservice] ADD  CONSTRAINT [DF__bloodserv__statu__6477ECF3]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[employee_services] ADD  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT (getdate()) FOR [invoice_date]
GO
ALTER TABLE [dbo].[invoices] ADD  DEFAULT ((0)) FOR [is_paid]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[patients] ADD  CONSTRAINT [DF__patients__guid__300424B4]  DEFAULT (newid()) FOR [guid]
GO
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [DF__services__price__33D4B598]  DEFAULT ((0)) FOR [price]
GO
ALTER TABLE [dbo].[services] ADD  CONSTRAINT [DF__services__execut__34C8D9D1]  DEFAULT ((1)) FOR [execution_days]
GO
ALTER TABLE [dbo].[analyzer_logs]  WITH CHECK ADD FOREIGN KEY([analyzer_id])
REFERENCES [dbo].[analyzers] ([id])
GO
ALTER TABLE [dbo].[analyzer_logs]  WITH CHECK ADD FOREIGN KEY([order_service_id])
REFERENCES [dbo].[order_services] ([id])
GO
ALTER TABLE [dbo].[archive_log]  WITH CHECK ADD FOREIGN KEY([archived_by])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[blood]  WITH CHECK ADD  CONSTRAINT [FK__blood__patient__5FB337D6] FOREIGN KEY([patient])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[blood] CHECK CONSTRAINT [FK__blood__patient__5FB337D6]
GO
ALTER TABLE [dbo].[bloodservice]  WITH CHECK ADD  CONSTRAINT [FK__bloodserv__blood__656C112C] FOREIGN KEY([blood_id])
REFERENCES [dbo].[blood] ([id])
GO
ALTER TABLE [dbo].[bloodservice] CHECK CONSTRAINT [FK__bloodserv__blood__656C112C]
GO
ALTER TABLE [dbo].[bloodservice]  WITH CHECK ADD  CONSTRAINT [FK__bloodserv__user___66603565] FOREIGN KEY([user_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[bloodservice] CHECK CONSTRAINT [FK__bloodserv__user___66603565]
GO
ALTER TABLE [dbo].[employee_services]  WITH CHECK ADD FOREIGN KEY([employee_id])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[employee_services]  WITH CHECK ADD  CONSTRAINT [FK__employee___servi__6B24EA82] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[employee_services] CHECK CONSTRAINT [FK__employee___servi__6B24EA82]
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[employee_roles] ([id])
GO
ALTER TABLE [dbo].[invoice_orders]  WITH CHECK ADD FOREIGN KEY([invoice_id])
REFERENCES [dbo].[invoices] ([id])
GO
ALTER TABLE [dbo].[invoice_orders]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[invoices]  WITH CHECK ADD FOREIGN KEY([insurance_company_id])
REFERENCES [dbo].[insurance_companies] ([id])
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([analyzer_id])
REFERENCES [dbo].[analyzers] ([id])
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([assigned_to])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([performed_by])
REFERENCES [dbo].[employees] ([id])
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD  CONSTRAINT [FK__order_ser__servi__45F365D3] FOREIGN KEY([service_id])
REFERENCES [dbo].[services] ([id])
GO
ALTER TABLE [dbo].[order_services] CHECK CONSTRAINT [FK__order_ser__servi__45F365D3]
GO
ALTER TABLE [dbo].[order_services]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[service_statuses] ([id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__patient___412EB0B6] FOREIGN KEY([patient_id])
REFERENCES [dbo].[patients] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__patient___412EB0B6]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[order_statuses] ([id])
GO
USE [master]
GO
